@model User;

<div class="d-flex justify-content-between align-items-center">
    <h4>Welcome @Model.FirstName!</h4>
    <a href="/logout">Logout</a>
</div>
<div class="d-flex justify-content-center align-items-center" style="min-height: 500px;">
    <h1 class="display-1 px-3" style="color: green;"><strong>S</strong></h1>
    <h1 class="display-1 px-3" style="color: green;"><strong>U</strong></h1>
    <h1 class="display-1 px-3" style="color: green;"><strong>C</strong></h1>
    <h1 class="display-1 px-3" style="color: green;"><strong>C</strong></h1>
    <h1 class="display-1 px-3" style="color: green;"><strong>E</strong></h1>
    <h1 class="display-1 px-3" style="color: green;"><strong>S</strong></h1>
    <h1 class="display-1 px-3" style="color: green;"><strong>S</strong></h1>

</div>